__pycache__/
*.py[cod]
*.pyo
*.pyd
build/
dist/
*.egg-info/
*.spec
.venv/
venv/
env/
ENV/
*.env
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log
.cache/
*.cache
*.sqlite
*.sqlite3
*.db
node_modules/
config.json
