<defs>
  <!-- базовые биомы -->
  <pattern id="tx-grass"  width="8" height="8" patternUnits="userSpaceOnUse"><rect width="8" height="8" fill="#2f8d4e"/></pattern>
  <pattern id="tx-meadow" width="8" height="8" patternUnits="userSpaceOnUse"><rect width="8" height="8" fill="#46a85f"/></pattern>
  <pattern id="tx-forest" width="8" height="8" patternUnits="userSpaceOnUse"><rect width="8" height="8" fill="#20603a"/></pattern>
  <pattern id="tx-swamp"  width="8" height="8" patternUnits="userSpaceOnUse"><rect width="8" height="8" fill="#3b5040"/></pattern>
  <pattern id="tx-sand"   width="8" height="8" patternUnits="userSpaceOnUse"><rect width="8" height="8" fill="#e0c17c"/></pattern>
  <pattern id="tx-desert" width="8" height="8" patternUnits="userSpaceOnUse"><rect width="8" height="8" fill="#d7a85b"/></pattern>
  <pattern id="tx-water"  width="8" height="8" patternUnits="userSpaceOnUse"><rect width="8" height="8" fill="#2a68b8"/></pattern>
  <pattern id="tx-rock"   width="8" height="8" patternUnits="userSpaceOnUse"><rect width="8" height="8" fill="#6f6f7a"/></pattern>
  <pattern id="tx-snow"   width="8" height="8" patternUnits="userSpaceOnUse"><rect width="8" height="8" fill="#e9f3ff"/></pattern>
  <pattern id="tx-lava"   width="8" height="8" patternUnits="userSpaceOnUse"><rect width="8" height="8" fill="#c43c2d"/></pattern>

  <!-- поверхностные объекты (оверлеи) -->
  <pattern id="tx-road"   width="8" height="8" patternUnits="userSpaceOnUse"><rect width="8" height="8" fill="#a17f49"/></pattern>
  <pattern id="tx-town"   width="8" height="8" patternUnits="userSpaceOnUse"><rect width="8" height="8" fill="#7c8a9b"/></pattern>
  <pattern id="tx-tavern" width="8" height="8" patternUnits="userSpaceOnUse"><rect width="8" height="8" fill="#9b7c4a"/></pattern>
  <pattern id="tx-camp"   width="8" height="8" patternUnits="userSpaceOnUse"><rect width="8" height="8" fill="#d6b26a"/></pattern>
</defs>
